.MovieList{
  display: grid;  
  grid-template-columns: repeat(3, minmax(auto-fit, 1fr));
  grid-template-areas: "card card card"
                       "card card card";

    grid-gap: 40px;
    margin: 0 3rem 0;
}

img{
    max-width: 100%;
}


@media(max-width: 1000px){
    .MovieList{
       
        grid-template-columns: repeat(1, minmax(auto-fit, 1fr));

        grid-template-areas:    "card card"
                                "card card"
                                "card card";


    }      
}




@media(max-width: 700px){
    .MovieList{
       
        grid-template-columns: repeat(1, minmax(auto-fit, 1fr));

        grid-template-areas:    "card"
                                "card"
                                "card"
                                "card"
                                "card";
    }      
}

